APP_NAME=Socfi
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=socfi
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=socfisystem@gmail.com
MAIL_PASSWORD=pgyqpnkxinhltnjd
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=socfisystem@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FACEBOOK_CLIENT_ID=480545299270145
FACEBOOK_CLIENT_SECRET=28bb64c2f9d6fc94d714c8f7e3d0c2be
FACEBOOK_CALLBACK_URL=http://localhost/socfi/public/login/facebook/callback

GOOGLE_CLIENT_ID=539671191761-2dt295irlnigbehaaac02qr767agk833.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=Mb5lDKvajFzB8NQFGXMcpeyE
GOOGLE_CALLBACK_URL=http://localhost/socfi/public/login/google/callback
